<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 默认网络设备选择文本 -->
    <add key="adapter_pattern" value=""/>
    <!-- INI配置文件读取编码 -->
    <add key="encoding_ini" value="ANSI"/>
    <!-- 默认上层机INI配置文件 -->
    <add key="ini_path" value="D:\station\oplus\oplus.ini"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
</configuration>
